# Common requirements used across local dev and production
fastapi
pydantic
pydantic[email]
pydantic-extra-types
phonenumbers
starlette
sqladmin
SQLAlchemy
gunicorn
uvicorn
psycopg2
itsdangerous
python-dotenv